<div class="col d-grid gap-2 p-2 m-2">
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Журнал</a>
    <a class="btn btn-outline-primary" asp-controller="File" asp-action="Index">Загрузка документов</a>
    <a class="btn btn-outline-primary" asp-page="/Users/List">Пользователи</a>
    <a class="btn btn-outline-primary" asp-page="/Roles/List">Роли</a>
</div>