@page
<h4 class="bg-danger text-white text-center p-2">Ошибка прав доступа</h4>
<div class="m-2 text-center">
    <h6>Недостаточно прав для работы с URL</h6>
    <br/>
    <a class="btn btn-outline-danger" href="/">OK</a>
    <a class="btn btn-outline-secondary" asp-page="/Account/Logout">Выход</a>
</div>